@media (max-width: 885px) {
    canvas {
        width: 500px;
        height: 500px;
    }
}

@media (min-width: 886px) and (max-width: 1114px) {

    canvas {
        width: 800px;
        height: 800px;
    }
}

@media (min-width: 1115px) {

    canvas {
        width: 500px;
        height: 500px;
    }

}
